In [2]:
import folium
import time
import pandas as pd
import numpy as np
import matplotlib as plt

In [3]:
df = pd.read_csv('./total.csv')
df

,Unnamed: 0,ts,action,actionOption,actionSub,actionSubOption,condition,conditionSub1Option,conditionSub2Option,place,...,e4acc_y_mean,e4acc_y_std,e4acc_z_mean,e4acc_z_std,bvp_mean,bvp_std,hr_mean,hr_std,temp_mean,temp_std
0,0,2020_08_29_05_20_00_PM,work,212.0,NaN,NaN,WITH_MANY,5.0,2.0,other_indoor,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2020_08_29_05_21_00_PM,work,212.0,NaN,NaN,WITH_MANY,5.0,2.0,other_indoor,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2020_08_29_05_22_00_PM,work,212.0,NaN,NaN,WITH_MANY,5.0,2.0,other_indoor,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2020_08_29_05_23_00_PM,work,212.0,NaN,NaN,WITH_MANY,5.0,2.0,other_indoor,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2020_08_29_05_24_00_PM,work,212.0,NaN,NaN,WITH_MANY,5.0,2.0,other_indoor,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21097,21097,2020_09_27_11_33_00_PM,recreation_media,722.0,NaN,NaN,WITH_ONE,2.0,2.0,home,...,0.473226,0.155386,0.133586,0.440570,0.105077,77.251367,66.720167,4.359511,31.784333,0.011624
21098,21098,2020_09_27_11_34_00_PM,recreation_media,722.0,NaN,NaN,WITH_ONE,2.0,2.0,home,...,0.432438,0.342452,0.617603,0.186286,0.090544,59.073947,67.366000,2.165334,31.805333,0.017688
21099,21099,2020_09_27_11_35_00_PM,recreation_media,722.0,NaN,NaN,WITH_ONE,2.0,2.0,home,...,-0.001367,0.482824,0.531413,0.208888,0.172445,53.539185,70.537000,1.811218,31.867667,0.034538
21100,21100,2020_09_27_11_49_00_PM,recreation_media,722.0,NaN,NaN,WITH_ONE,2.0,2.0,home,...,0.222909,0.550610,0.282715,0.463474,-0.720357,145.492111,76.272167,4.786063,32.079000,0.019509
21101,21101,2020_09_27_11_54_00_PM,recreation_media,722.0,NaN,NaN,WITH_ONE,2.0,2.0,home,...,-0.008862,0.440645,0.113550,0.651774,0.450159,184.807075,79.631833,1.683375,32.278000,0.019431

In [4]:
times = df.index.tolist()
center = df[['mgps_lat_mean','mgps_lon_mean']].iloc[1].tolist()

In [5]:
x_y= pd.concat([df['mgps_lat_mean'],df['mgps_lon_mean']],axis=1)
x_y_ts= pd.concat([df['ts'],df['mgps_lat_mean'],df['mgps_lon_mean']],axis=1)

x_y_n=x_y.dropna()

In [17]:
df.loc[df['emotionPositive']>=6]['action']

25            travel
26            travel
27            travel
28            travel
29            travel
            ...
20939    outdoor_act
20940    outdoor_act
20941    outdoor_act
20942    outdoor_act
20943    outdoor_act
Name: action, Length: 10775, dtype: object

In [7]:
x_y_ts=x_y_ts.dropna()

In [8]:
x_y_ts['ts'].iloc[-1][8:10]

'27'